*.h linguist-language=C++
*.inc linguist-language=Makefile
*.sh text eol=lf
*.sbatch text eol=lf

build/XCode/**/*.h linguist-language=Objective-C

maps/** linguist-detectable=false
scenarios/** linguist-detectable=false

